<!-- header.component.html -->
<div class="header">
  <!-- first-section -->
    <div class="first-section">
      <div class="nav-bar-1">
        <a routerLink="/home" class="logo-link">
          <img src="../../../assets/logo1.png" alt="Logo">
          <span class="logo-text">კლინიკა</span>
        </a>

        <div class="nav-bar-flex-col">
          <ul class="nav-bar">
            <li>
              ექიმები
              <div class="vector-line-hover"></div>
            </li>
            <li>
              კლინიკები
              <div class="vector-line-hover"></div>
            </li>
            <li>
              ანოტაციები
              <div class="vector-line-hover"></div>
            </li>
            <li>
              აქციები
              <div class="vector-line-hover"></div>
            </li>
            <li>
              სერვისები
              <div class="vector-line-hover"></div>
            </li>
            <li>
              მედიკამენტები
              <div class="vector-line-hover"></div>
            </li>
            <li>
              კონტაქტი
              <div class="vector-line-hover"></div>
            </li>
          </ul>
        </div>
        

        <!-- button section -->
        <div [ngClass]="{'navbar-button': !isLoggedIn, 'navbar-button2': isLoggedIn || isAdministrator}">
          <button class="button-reg-aut" *ngIf="!isLoggedIn && !isAdministrator && !isDoctor">
            <span class="button-registartion" (click)="navigateToRegistration()">რეგისტრაცია</span>
            <span class="button-aut" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> / ავტორიზაცია</span>
          </button>
        
          <button class="button-reg-aut2" (click)="navigateClient()" *ngIf="isLoggedIn && !isAdministrator">
            <img src="../../../assets/default-image.png" alt="">
            <span class="button-registartion">{{ this.client.firstName }} {{ this.client.lastName }}</span>
          </button>
          <button class="button-reg-aut2" (click)="navigateDoctor()" *ngIf="isDoctor">
            <img [src]="this.doctor.imageUrl" alt="">
            <span class="button-registartion">{{ this.doctor.firstName }} {{ this.doctor.lastName }}</span>
          </button>
        
          <button class="button-reg-aut2" (click)="navigateAdmin()" *ngIf="isAdministrator">
            <img src="../../../assets/Ellipse-222(1).png" alt="">
            <span class="button-registartion">ადმინისტრატორი</span>
          </button>
  
          <button class="button-eng" (click)="onLogoutClick()">
            <!-- <span>ENG</span> -->
            <img src="../../../assets/logout.png" alt="logout">
          </button>
        </div>
      </div>
    </div>
    <div class="mobile-navbar">
      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a routerLink="/home" class="logo-link">
          <img src="../../../assets/logo1.png" alt="Logo">
          <span class="logo-text">კლინიკა</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse collapse" id="navbarsExample01">
          <ul class="navbar-nav mr-auto">
            <li>ექიმები</li>
            <li>კლინიკები</li>
            <li>მედიკამენტები</li>
            <li>კონტაქტი</li>
            <li class="nav-item">
              <div [ngClass]="{'navbar-button': !isLoggedIn, 'navbar-button2': isLoggedIn || isAdministrator}">
                <button class="button-reg-aut" *ngIf="!isLoggedIn && !isAdministrator && !isDoctor">
                  <span class="button-registartion" (click)="navigateToRegistration()">რეგისტრაცია</span>
                  <span class="button-aut" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">ავტორიზაცია</span>
                </button>
              
                <button class="button-reg-aut2" (click)="navigateClient()" *ngIf="isLoggedIn && !isAdministrator">
                  <img src="../../../assets/default-image.png" alt="">
                  <span class="button-registartion">{{ this.client.firstName }} {{ this.client.lastName }}</span>
                </button>
                <button class="button-reg-aut2" (click)="navigateDoctor()" *ngIf="isDoctor">
                  <img [src]="this.doctor.imageUrl" alt="">
                  <span class="button-registartion">{{ this.doctor.firstName }} {{ this.doctor.lastName }}</span>
                </button>
              
                <button class="button-reg-aut2" (click)="navigateAdmin()" *ngIf="isAdministrator">
                  <img src="../../../assets/Ellipse-222(1).png" alt="">
                  <span class="button-registartion">ადმინისტრატორი</span>
                </button>

              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="second-section">
      <div class="header-elements">
        <div class="header-element1">
          <div class="header-element-1">
            <div class="img-color">
              <img src="../../../assets/call.png" alt="Logo">
            </div>
            <p>032 2 100 100</p>
          </div>
          <div class="header-element-1">
            <div class="img-color">
              <img src="../../../assets/location.png" alt="Logo">
            </div>
            <p>იაკობ ნიკოლაძე №10</p>
          </div>
        </div>
        <div class="header-element2">
          <div class="header-element-2">
            <input type="text" placeholder="მოძებნე ექიმი სახელით">
          </div>
          <div class="header-element-2">
            <input class="grey-elem" type="text" placeholder="მოძებნე სპეციალობით">
          </div>
          <div class=" img-back">
            <img src="../../../assets/search.png" alt="Logo">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- modal -->
  <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ავტორიზაცია</h5>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="authservice.logindata.email" name="email" id="recipient-email" placeholder="ელ.ფოსტა/ ტელეფონის ნომერი" required>
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="authservice.logindata.password" name="password" class="form-control form-password" id="recipient-name" placeholder="პაროლი" required>
              <span class="forget-password" (click)="sendResetCode()"><p>პაროლის აღდგენა</p></span>
            </div>
          
            <div class="modal-footer">
              <button type="submit" *ngIf="submissionSuccess" data-dismiss="modal">close</button>
              <button type="submit" *ngIf="!submissionSuccess">შესვლა</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>