
   <div class="footer">
    <div class="vector-line">
      <img  src="../../../assets/Vector 6.png" alt="Logo">
    </div>
    <footer class="main-column">
      <div class="footer-logo">
        <a routerLink="/home" class="logo-link">
          <img src="../../../assets/logo2.png" alt="Logo">
          <span class="logo-text">კლინიკა</span>
        </a>
      </div>
      <div class="col1">
        <h5 class="mb-4">ინფორმაცია</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="list-text">ჩვენს შესახებ</a></li>
          <li class="nav-item"><a href="#" class="list-text">პარტნიორები</a></li>
          <li class="nav-item"><a href="#" class="list-text">ექიმებისთვის</a></li>
          <li class="nav-item"><a href="#" class="list-text">კლიენტებისთვის</a></li>
          <li class="nav-item"><a href="#" class="list-text">აფთიაქებისთვის</a></li>
        </ul>
      </div>
  
      <div class="col2">
        <h5 class="mb-4">პაციენტებისთვის</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="list-text">ექიმები</a></li>
          <li class="nav-item"><a href="#" class="list-text">კლინიკები</a></li>
          <li class="nav-item"><a href="#" class="list-text">ანოტაციები</a></li>
          <li class="nav-item"><a href="#" class="list-text">ბლოგი</a></li>
          <li class="nav-item"><a href="#" class="list-text">მედია</a></li>
        </ul>
      </div>
  
      <div class="col3">
        <h5 class="mb-4">კონტაქტი</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="list-text">სამუშაო დღეები: ორშ-პარ</a></li>
          <li class="nav-item"><a href="#" class="list-text">სამუშაო დრო:<br> 9:00- 17:00</a></li>
          <li class="nav-item"><a href="#" class="list-text">იაკობ ნიკოლაძე №10</a></li>
          <li class="nav-item"><a href="#" class="list-text">032 2 100 100</a></li>
        </ul>
      </div>
      <div class="col4">
        <h5 class="mb-4">გამოგვყევით</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="list-text">Facebook</a></li>
          <li class="nav-item"><a href="#" class="list-text">Instagram</a></li>
          <li class="nav-item"><a href="#" class="list-text">Youtube</a></li>
        </ul>
      </div>
    </footer>
    <div class="second-section" >
      <p>Copyright</p>
    </div>
  </div>