<!-- footer.component.html -->
<!-- <div class="footer">
    <div class="first-section" >
      <div class="main-column">
        <img src="../../../assets/footer.png" alt="footer">
      </div>
    </div>
    <div class="second-section" >
      <p>Copyright</p>
    </div>
  </div>

   -->

   <div class="footer">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5  border-top main-column">
      <div class="footer-logo">
        <a routerLink="/home" class="logo-link">
          <img src="../../../assets/logo2.png" alt="Logo">
          <span class="logo-text">კლინიკა</span>
        </a>
      </div>
    
      <div class="col">
        <h5 class="mb-5">ინფორმაცია</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a href="#" class="list-text">Home</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">Features</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">Pricing</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">FAQs</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">About</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5 class="mb-5">პაციენტებისთვის</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a href="#" class="list-text">Home</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">Features</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">Pricing</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">FAQs</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">About</a></li>
        </ul>
      </div>
  
      <div class="col mb-10">
        <h5 class="mb-5">კონტაქტი</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a href="#" class="list-text">Home</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">Features</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">Pricing</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">FAQs</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">About</a></li>
        </ul>
      </div>
      <div class="col">
        <h5 class="mb-5">გამოგვყევით</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a href="#" class="list-text">Home</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">Features</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">Pricing</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">FAQs</a></li>
          <li class="nav-item mb-1"><a href="#" class="list-text">About</a></li>
        </ul>
      </div>
    </footer>
    <div class="second-section" >
      <p>Copyright</p>
    </div>
  </div>