
   <div class="footer">
    <div class="vector-line">
      <img  src="../../../assets/Vector 6.png" alt="Logo">
    </div>
    <footer class="main-column">
      <div class="footer-logo">
        <a routerLink="/home" class="logo-link">
          <img src="../../../assets/logo2.png" alt="Logo">
          <span class="logo-text">კლინიკა</span>
        </a>
      </div>
      <div class="col1">
        <h5 class="mb-4">ინფორმაცია</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a>ჩვენს შესახებ</a></li>
          <li class="nav-item"><a>პარტნიორები</a></li>
          <li class="nav-item"><a>ექიმებისთვის</a></li>
          <li class="nav-item"><a>კლიენტებისთვის</a></li>
          <li class="nav-item"><a>აფთიაქებისთვის</a></li>
        </ul>
      </div>
  
      <div class="col2">
        <h5 class="mb-4">პაციენტებისთვის</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a>ექიმები</a></li>
          <li class="nav-item"><a>კლინიკები</a></li>
          <li class="nav-item"><a>ანოტაციები</a></li>
          <li class="nav-item"><a>ბლოგი</a></li>
          <li class="nav-item"><a>მედია</a></li>
        </ul>
      </div>
  
      <div class="col3">
        <h5 class="mb-4">კონტაქტი</h5>
        <ul class="nav flex-column ul1">
          <li class="nav-item"><a>სამუშაო დღეები:<br>ორშ-პარ</a></li>
          <li class="nav-item"><a>სამუშაო დრო:<br> 9:00- 17:00</a></li>
          <li class="nav-item"><a>იაკობ ნიკოლაძე №10</a></li>
          <li class="nav-item"><a>032 2 100 100</a></li>
        </ul>
      </div>
      <div class="col4">
        <h5 class="mb-4">გამოგვყევით</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a>Facebook</a></li>
          <li class="nav-item"><a>Instagram</a></li>
          <li class="nav-item"><a>Youtube</a></li>
        </ul>
      </div>
    </footer>
    <div class="social-media">შემოგვიერთდით</div>
    <div class="template-demo">
      <button type="button" class="btn btn-social-icon btn-facebook btn-rounded"><i class="fa fa-facebook"></i></button>
      <button type="button" class="btn btn-social-icon btn-youtube btn-rounded"><i class="fa fa-youtube"></i></button>                                        
      <button type="button" class="btn btn-social-icon btn-linkedin btn-rounded"><i class="fa fa-linkedin"></i></button>
      <button type="button" class="btn btn-social-icon btn-instagram btn-rounded"><i class="fa fa-instagram"></i></button>
    </div>
    <div class="social-media">032 2 100 100</div>
  </div>
  

  <div class="second-section" >
    <div class="second-section-1">
      <p>Copyright</p>
    </div>
  </div>