<div class="doctors">
    <div class="square-container" >
        <div class="loading-spinner-container" *ngIf="alldoctor.length === 0">
        <p-progressSpinner *ngIf="alldoctor.length === 0"></p-progressSpinner>
        </div>
        <div *ngFor="let doctor of alldoctor.slice(0, maxVisibleDoctors)" class="user-card">
            <div class="square">
                <div class="upper">
                    <div class="viewers">
                        <img src="../../../assets/ic_baseline-remove-red-eye.png" alt="">
                        <p>129 371</p>
                    </div>
                    <img src="../../../assets/pin-svgrepo-com1.png" alt="">
                </div>
                <div class="middle">
                    <img class="picture" [src]="doctor.imageUrl" alt="">
                    <p class="card-name">{{ doctor.firstName }}  {{ doctor.lastName}}</p>
                    <p class="card-category">{{doctor.category}}</p>
                   
                    <div class="stars">
                      <ng-container *ngFor="let star of getStarArray(doctor.starNum)">
                          <img src="../../../assets/material-symbols_star-rounded.png" alt="Star">
                        </ng-container>
                  </div>
                  <button type="button" (click)="onBookingClick(doctor)">
                    <p>მიღებაზე ჩაწერა</p>
                    <div class="buttons-span"></div>
                    <!-- <img class="material-symbol" src="../../../assets/material-symbols_arrow-back-ios-rounded333.png" alt=""> -->
                </button>
                </div>
            </div>
    </div>

      </div>
      <div class="read-more"  *ngIf="maxVisibleDoctors < alldoctor.length" (click)="toggleSeeMore()">
          <p>სრულად ნახვა</p>
          <img src="../../../assets/Vector 5.png" alt="vector5">
      </div>
</div>