
<div class="home-hero">
  <div class="categories">
    <!-- კატეგორიები -->
    <app-category-field class="category"></app-category-field>
    <!-- კლიენტი -->
    <div class="doctors">
        <div class="hero-doctor">
            <div class="upper">
                <img class="main-image" src="../../../assets/default-image.png" alt="">
                <h4>{{this.client?.firstName}} {{this.client?.lastName}}</h4>
                <h6>ექიმი</h6>
            </div>
            <div class="middle-first">
                <h4>პირადი ნომერი</h4>
                <p>{{this.client?.idNumber}}</p>
            </div>

            <div class="middle-second">
                <div class="middle-first">
                    <h4>Email :</h4>
                    <p>{{ this.client?.email}}</p>
                </div>
                <h4 class="change-pass" data-toggle="modal" data-target="#passwordChangeModal" data-whatever="@mdo">პაროლის შეცვლა</h4>
              </div>

            <div class="middle-first">
                <h4>დაჯავშნილია :</h4>
                <p>( {{ this.appointmentCount }} )</p>
            </div>
        </div>
        
    </div>
    <!-- ცხრილი -->
    <div class="calendar">
      <div class="my-book">
        <p>ჩემი ჯავშანი</p>
        <p>( {{ this.appointmentCount }} )</p>
      </div>

        <div class="square"  *ngIf="this.tooltipBox">
          <div class="middle">
              <img class="picture" [src]="this.doctroImg" alt="">
              <div class="middle-column">
                <p class="card-name"><strong>სახელი:</strong> {{ this.doctorName }}  {{ this.doctorLastName}}</p>
                <p class="card-category"><strong>სპეციალისტი:</strong> {{ this.doctorCategory }} </p>
                <p class="card-name"><strong>მიზეზი:</strong> {{ this.text }} </p>

                <button type="button"  (click)="onBookingClick(docId)">
                  <p>კალენდრის ნახვა</p>
                  <div class="buttons-span"></div>
              </button>
              </div>
          </div>
      </div>
      <div class="time">
        <span class="year">2023</span>
        <div class="buttons-click">
            <span class="arrow arrow-left "><img src="../../../assets/material-symbols_arrow-back-ios-rounded.png" alt=""></span>
            <button class="action-button">აპრილი</button>
            <span class="arrow arrow-right"><img src="../../../assets/material-symbols_arrow-back-ios-rounded (1).png" alt=""></span>
        </div>
    </div>
      <div class="time-and-table">
        <app-custom-table [tableData]="tableDataService.tableData" [tableHeaders]="tableDataService.tableHeaders"></app-custom-table>

      <div class="change-sect">
          <button class="redact">
              <span><img src="../../../assets/edit-svgrepo-com 2.png" alt=""></span>
              <p>რედაქტირება</p>
          </button>
        <button class="delete">
            <span><img src="../../../assets/delete-file-svgrepo-com 3.png" alt=""></span>
            <p>წაშლა</p>
        </button>
    </div>
</div> 
  </div>
</div>
  <!-- modal -->
   <app-password-change-modal></app-password-change-modal>