
<div class="home-hero">
    <div class="main-content">
        <div class="rectangle">
            <div class="rectangle-child">
                <p>აირჩიე კლინიკა რომელსაც შეგიძლია ენდო</p>
                <button class="button"><img src="../../../assets/location.png" alt="">იაკობ ნიკოლაძე №10</button>
            </div>
        </div>
        <!-- Other content goes here -->
    </div>
      <div class="categories">
        <app-category-field class="category"></app-category-field>
        <app-card ></app-card>

      </div>
