
<div class="hero">
    <div class="category">
        <h1>კატეგორიები</h1>
        <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">სახელი</th>
                    <th scope="col">კატეგორია</th>
                    <th scope="col">ფოტოსურათი</th>
                    <th scope="col">რეიტინგი</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody *ngFor="let doctor of alldoctor">
                <!-- Add your dynamic data rows here -->
                <tr>
                    <td>{{doctor.firstName}} {{doctor.lastName}}</td>
                    <td>{{doctor.category}}</td>
                    <td>
                        <img class="picture" [src]="doctor.imageUrl" alt="Doctor Photo" width="50">
                    </td>
                    <td>
                    
                    <div class="stars">
                        <ng-container *ngFor="let star of getStarArray(doctor.starNum)">
                            <img src="../../assets/material-symbols_star-rounded.png" alt="Star">
                          </ng-container>
                    </div>
                </td>
                    <td class="edit-delete">
                        <img class="circle" data-toggle="modal" data-target="#passwordChangeModal" src="../../assets/edit.png" alt="" (click)="editDoctor(doctor)">
                        <img class="circle1" src="../../assets/delete.png" alt="" (click)="deleteDoctor(doctor.id)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

<p-dialog header="ექიმის რედაქტირება" [(visible)]="displayModal" [modal]="true" [responsive]="true" [style]="{width: '30%'}">
    <form (ngSubmit)="changeDoctorData()">
        <div class="form-group">
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="სახელი" [(ngModel)]="doctorfirstName" required >
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="გვარი" [(ngModel)]="doctorLastName" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="email" id="email" placeholder="მეილი" [(ngModel)]="doctorEmail" required >
        </div>
        <div class="form-group">
            <p-dropdown name="category" id="category" [options]="categories" [(ngModel)]="doctorCategory" [showClear]="true" placeholder="აირჩიე სპეციალობა"></p-dropdown>
        </div>
        <div class="form-group">
            <p-rating name="rating" [(ngModel)]="doctorRating" [cancel]="false" [readonly]="false"></p-rating>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="idNumber" id="idNumber" placeholder="პირადი ნომერი" maxlength="11" [(ngModel)]="doctorIdNumber" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" placeholder="პაროლი" [(ngModel)]="doctorPassword" required>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="displayModal = false">Close</button>
            <button type="submit" class="btn btn-primary"  >Save changes</button>
        </div>
    </form>
</p-dialog>