<div>
    <div class="category-all">
        <div class="category-name">
            <p>კატეგორია</p>
            <img src="../../../../assets/Vector1.png" alt="">
        </div>
        <div class="category-list">
            <ul class="category-components">
                <li (click)="onCategoryClick('ანდროლოგი')">
                    <div class="num">( {{ getDoctorCount('ანდროლოგი') }} )</div>
                    <div class="text">ანდროლოგი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('ანესთეზიოლოგი')">
                    <div class="num">( {{ getDoctorCount('ანესთეზიოლოგი') }} )</div>
                    <div class="text">ანესთეზიოლოგი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('კარდიოლოგი')">
                    <div class="num">( {{ getDoctorCount('კარდიოლოგი') }} )</div>
                    <div class="text">კარდიოლოგი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('კოსმეტოლოგი')">
                    <div class="num">( {{ getDoctorCount('კოსმეტოლოგი') }} )</div>
                    <div class="text">კოსმეტოლოგი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('ლაბორანტი')">
                    <div class="num">( {{ getDoctorCount('ლაბორანტი') }} )</div>
                    <div class="text">ლაბორანტი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('ოჯახის ექიმი')">
                    <div class="num">( {{ getDoctorCount('ოჯახის ექიმი') }} )</div>
                    <div class="text">ოჯხის ექიმი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('პედიატრი')">
                    <div class="num">( {{ getDoctorCount('პედიატრი') }} )</div>
                    <div class="text">პედიატრი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('ტოქსიკოლოგი')">
                    <div class="num">( {{ getDoctorCount('ტოქსიკოლოგი') }} )</div>
                    <div class="text">ტოქსიკოლოგი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('ტრანსფუზილოგი')">
                    <div class="num">( {{ getDoctorCount('ტრანსფუზილოგი') }} )</div>
                    <div class="text">ტრანსფუზილოგი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('გინეკოლოგი')">
                    <div class="num">( {{ getDoctorCount('გინეკოლოგი') }} )</div>
                    <div class="text">გინეკოლოგი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('დერმატოლოგი')">
                    <div class="num">( {{ getDoctorCount('დერმატოლოგი') }} )</div>
                    <div class="text">დერმატოლოგი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('ენდოკრინოლოგი')">
                    <div class="num">( {{ getDoctorCount('ენდოკრინოლოგი') }} )</div>
                    <div class="text">ენდოკრინოლოგი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('გასტროენტეროლოგი')">
                    <div class="num">( {{ getDoctorCount('გასტროენტეროლოგი') }} )</div>
                    <div class="text">გასტროენტოროლოგი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
                  <li (click)="onCategoryClick('თერაპევტი')">
                    <div class="num">( {{ getDoctorCount('თერაპევტი') }} )</div>
                    <div class="text">თერაპევტი</div>
                    <img class="li-img" src="../../../assets/arrow-right.png" alt="">
                </li>
              </ul>
        </div>
        <div class="category-bottom">
            <img src="../../../assets/Vector1.png" alt="">
            <span class="category-last">
                <p>სრულად ნახვა</p>
                <img src="../../../assets/arrow-down.png" alt="">
            </span>
        </div>
    </div>
</div>