
<div class="home-hero">
    <div class="main-content">
        <div class="rectangle">
            <div class="rectangle-child">
                <p>აირჩიე კლინიკა რომელსაც შეგიძლია ენდო</p>
                <button class="button"><img src="../../assets/location.png" alt="">იაკობ ნიკოლაძე №10</button>
            </div>
        </div>
        <!-- Other content goes here -->
    </div>
      <div class="categories">
        <div class="category">
            <div class="category-all">
                <div class="category-name">
                    <p>კატეგორია</p>
                    <img src="../../assets/Vector1.png" alt="">
                </div>
                <div class="category-list">
                    <ul class="category-components">
                        <li>
                            <div class="num">( 14 )</div>
                            <div class="text">ანდროლოგი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 61 )</div>
                            <div class="text">ანესთეზიოლოგი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 467 )</div>
                            <div class="text">კარდიოლოგი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 43 )</div>
                            <div class="text">კოსმეტოლოგი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 107 )</div>
                            <div class="text">ლაბორანტი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 238 )</div>
                            <div class="text">ოჯხის ექიმი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 366 )</div>
                            <div class="text">პედიატრი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 8 )</div>
                            <div class="text">ტოქსიკოლოგი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 15 )</div>
                            <div class="text">ტრანსფუზილოგი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 171 )</div>
                            <div class="text">გინეკოლოგი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 68 )</div>
                            <div class="text">დერმატოლოგი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 32 )</div>
                            <div class="text">ენდოკრინოლოგი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 56 )</div>
                            <div class="text">გასტროენტოროლოგი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                          <li>
                            <div class="num">( 114 )</div>
                            <div class="text">თერაპევტი</div>
                            <img class="li-img" src="../../assets/arrow-right.png" alt="">
                        </li>
                      </ul>
                </div>
                <div class="category-bottom">
                    <img src="../../assets/Vector1.png" alt="">
                    <span class="category-last">
                        <p>სრულად ნახვა</p>
                        <img src="../../assets/arrow-down.png" alt="">
                    </span>
                </div>
            </div>
        </div>
        <!-- <div class="doctors">
            <div class="square-container" >
                <div *ngFor="let doctor of alldoctor.slice(0, maxVisibleDoctors)" class="user-card">
                    <div class="square">
                        <div class="upper">
                            <div class="viewers">
                                <img src="../../assets/ic_baseline-remove-red-eye.png" alt="">
                                <p>129 371</p>
                            </div>
                            <img src="../../assets/pin-svgrepo-com1.png" alt="">
                        </div>
                        <div class="middle">
                            <img class="picture" [src]="doctor.imageUrl" alt="">
                            <p class="card-name">{{ doctor.firstName }}  {{ doctor.lastName}}</p>
                            <p class="card-category">{{doctor.category}}</p>
                           
                            <div class="stars">
                              <ng-container *ngFor="let star of getStarArray(doctor.starNum)">
                                  <img src="../../assets/material-symbols_star-rounded.png" alt="Star">
                                </ng-container>
                          </div>
                          <button type="button" (click)="onBookingClick(doctor)">
                            <p>მიღებაზე ჩაწერა</p>
                            <div class="buttons-span"></div>
                        </button>
                        </div>
                    </div>
            </div>

              </div>
              <div class="read-more"  *ngIf="maxVisibleDoctors < alldoctor.length" (click)="toggleSeeMore()">
                  <p>სრულად ნახვა</p>
                  <img src="../../assets/Vector 5.png" alt="vector5">
              </div>
        </div> -->
        <app-card ></app-card>

      </div>
