/* home.component.css */
.home-hero {
    display: flex;
    flex-direction: column;
}
/* pictures section */
.main-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    height: 600px; /* Set a fixed height for the container */
    background-image: url("../../assets/Rectangle30.png");
    background-size: cover; /* Ensure the background image covers the container */
  }
  
  .rectangle {
    width: 1087px;
    height: 600px;
    border-radius: 0px 50px 50px 0px;
    background: rgba(5, 51, 84, 0.25);
    backdrop-filter: blur(2px);
  }

  .rectangle-child {
    display: flex;
    flex-direction: column;
    margin: 184px 150px;
    gap: 52px;
    
}
.rectangle-child p {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.rectangle-child button {
    width: 370px;
    height: 65px;
    flex-shrink: 0;
    border: none;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: #053354;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.rectangle-child img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.categories {
    display: flex;
    margin: 0 auto;
    margin-left: 0px;
    margin-bottom: 145px;
    margin-top: 73px;
    gap: 60px;
}

.category {
    width: 350px;
    height: 800px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(5, 51, 84, 0.05);
}
@media (max-width: 1621px) {
  .category {
    display: none;
  }
}

@media (max-width: 1621px) {
  .categories {
    display: flex;
    margin: 0 auto;
    margin-bottom: 145px;
    margin-top: 73px;
    gap: 60px;
  }
}

 .category-all {
    width: 100%;
    margin-top: 30px;
  }

  .category-name {
    text-align: center;
  }

 .category-name p {
    display: grid;
    text-align: center;
    color: #053354;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.category-list {
    width: 100%;
    margin-bottom: 33px;
  }
  
  .category-components {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  
  .category-components li {
    display: flex;
    width: 100%;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  li .num {
    width: 30%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding-left: 40px; /* Adjust spacing between divs as needed */
    color: rgba(5, 51, 84, 0.30);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  li .text {
    width: 40%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    color: #053354;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  li img {
    margin-left: 40px;
    box-sizing: border-box;
    visibility: hidden;
  }
  .category-components li:hover {
    background: rgba(236, 242, 248, 0.50);
    color: #18A4E1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .category-components li:hover .num {
    color: #18A4E1; /* Blue color on hover */
  }

  .category-components li:hover .li-img {
    visibility: visible;
  }

  .category-bottom {
    text-align: center;
    margin-top: 0px;
  }

.category-last {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.category-last p {
    color: #18A4E1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px;
    margin: 0px;
}
.category-last img {
    width: 16px;
    height: 16px;
}


.doctors {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* home.component.css */
.square-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
  gap: 20px; /* Adjust the gap between squares as needed */
}

.square {
  width: 390px;
  height: 390px;
}

/* Media query for screens up to 1621px */
@media (max-width: 1400px) {
  .doctors {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .square-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for screens up to 1621px */
  }
}

/* Additional media query for screens up to 765px */
@media (max-width: 880px) {
  .square-container {
    grid-template-columns: repeat(1, 6fr); /* 6 columns for screens up to 765px */
  }

  .user-card {
    width: 300px;
  }
  .square {
    max-width: 100%;
  }
  .rectangle {
    display: none;
  }

  .main-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    height: 250px; /* Set a fixed height for the container */
    background-image: url("../../assets/Rectangle30.png");
    background-size: cover; /* Ensure the background image covers the container */
  }
}


  .category {
    margin-left: auto;
    margin-right: auto;
  }
  
  .square {
    width: 390px;
    height: 390px;
    border-radius: 10px;
    border: 1px solid rgba(24, 164, 225, 0.30);
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(5, 51, 84, 0.05);
  }

  .upper .viewers {
    display: flex;
    width: 107px;
    height: 30px;
    flex-shrink: 0;
    align-content: center;
    padding: 5px 10px;
    border-radius: 50px;
    background: rgba(236, 242, 248, 0.50);
  }

  .viewers p {
    color: rgba(5, 51, 84, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.12px;
    margin: 0px;
    padding: 0px;
  }

  .upper img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }

  .upper {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  .middle {
    display: flex;
    flex-direction: column;
    margin-top: -27px;
    align-items: center;
    justify-content: center;
  }
 
  .middle .picture {
    width: 157px;
    height: 157px;
    object-fit: cover;
    flex-shrink: 0;
    margin-bottom: 15px;
    border-radius: 50%;
  }

  .middle .card-name {
    color: #053354;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 9px;
    padding-bottom: 0px;
  }

  .middle .stars img {
    width: 24px;
    height: 24px;
    flex-shrink: 0; 
    margin-bottom: 22px;   
  }

  .middle button {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    gap: 4px;
    background-color: #ecf2f8; /* Updated default background color */
    color: #053354;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
  }

  .buttons-span {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background-image: url('../../assets/material-symbols_arrow-back-ios-rounded333.png');
  }

  .middle button:hover .buttons-span {
    background-image: url('../../assets/material-symbol_white_right_arrow.png');
  }

  .middle button:hover {
    border-radius: 25px;
    border: 1px solid #18a4e1;
    background-color: #fff; /* Updated active background color */
    color: #18a4e1;
  }
  .middle button:active {
    overflow: hidden;
  }
  

  .middle .card-category {
    color: rgba(5, 51, 84, 0.30);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
  }

 .read-more {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: auto;
}
.read-more p {
  padding-right: 18px;
  color: #053354;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.read-more img {
  margin-left: auto;
}

@media (min-width: 1622px) {

}

@media (max-width: 1621px) {
}