<div>
    <div class="category-all">
        <div class="category-name">
            <p>კატეგორია</p>
            <img src="../../assets/Vector1.png" alt="">
        </div>
        <div class="category-list">
            <ul class="category-components">
                <li>
                    <div class="num">( 14 )</div>
                    <div class="text">ანდროლოგი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 61 )</div>
                    <div class="text">ანესთეზიოლოგი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 467 )</div>
                    <div class="text">კარდიოლოგი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 43 )</div>
                    <div class="text">კოსმეტოლოგი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 107 )</div>
                    <div class="text">ლაბორანტი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 238 )</div>
                    <div class="text">ოჯხის ექიმი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 366 )</div>
                    <div class="text">პედიატრი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 8 )</div>
                    <div class="text">ტოქსიკოლოგი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 15 )</div>
                    <div class="text">ტრანსფუზილოგი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 171 )</div>
                    <div class="text">გინეკოლოგი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 68 )</div>
                    <div class="text">დერმატოლოგი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 32 )</div>
                    <div class="text">ენდოკრინოლოგი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 56 )</div>
                    <div class="text">გასტროენტოროლოგი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
                  <li>
                    <div class="num">( 114 )</div>
                    <div class="text">თერაპევტი</div>
                    <img class="li-img" src="../../assets/arrow-right.png" alt="">
                </li>
              </ul>
        </div>
        <div class="category-bottom">
            <img src="../../assets/Vector1.png" alt="">
            <span class="category-last">
                <p>სრულად ნახვა</p>
                <img src="../../assets/arrow-down.png" alt="">
            </span>
        </div>
    </div>
</div>