<div class="home-hero">
  <div class="categories">
    <!-- კატეგორიები -->
    <div class="category">
      <div class="category-all">
        <div class="category-name">
          <p>კატეგორია</p>
          <img src="../../assets/Vector1.png" alt="" />
        </div>
        <div class="category-list">
          <ul class="category-components">
            <li>
              <div class="num">( 14 )</div>
              <div class="text">ანდროლოგი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 61 )</div>
              <div class="text">ანესთეზიოლოგი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 467 )</div>
              <div class="text">კარდიოლოგი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 43 )</div>
              <div class="text">კოსმეტოლოგი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 107 )</div>
              <div class="text">ლაბორანტი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 238 )</div>
              <div class="text">ოჯხის ექიმი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 366 )</div>
              <div class="text">პედიატრი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 8 )</div>
              <div class="text">ტოქსიკოლოგი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 15 )</div>
              <div class="text">ტრანსფუზილოგი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 171 )</div>
              <div class="text">გინეკოლოგი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 68 )</div>
              <div class="text">დერმატოლოგი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 32 )</div>
              <div class="text">ენდოკრინოლოგი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 56 )</div>
              <div class="text">გასტროენტოროლოგი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
            <li>
              <div class="num">( 114 )</div>
              <div class="text">თერაპევტი</div>
              <img class="li-img" src="../../assets/arrow-right.png" alt="" />
            </li>
          </ul>
        </div>
        <div class="category-bottom">
          <img src="../../assets/Vector1.png" alt="" />
          <span class="category-last">
            <p>სრულად ნახვა</p>
            <img src="../../assets/arrow-down.png" alt="" />
          </span>
        </div>
      </div>
    </div>
    <!-- ექიმები -->
    <div class="doctors">
      <div class="hero-doctor">
        <div class="upper">
          <img class="main-image" [src]="this.doctor?.imageUrl" />
          <h4>{{ this.doctor?.firstName }} {{ this.doctor?.lastName }}</h4>
          <h6>ექიმი</h6>
          <p>{{ this.doctor?.category }}</p>
          
          <div class="doctors-stars" *ngIf="this.doctor">
            <ng-container *ngFor="let star of getStarArray(this.doctor?.starNum || 0)">
              <img src="../../assets/material-symbols_star-rounded.png" alt="Star">
            </ng-container>
          </div>
        </div>
        <div class="middle-first">
          <h4>პირადი ნომერი</h4>
          <p>{{ this.doctor?.idNumber }}</p>
        </div>

        <div class="middle-second">
          <div class="middle-first">
            <h4>Email :</h4>
            <p>{{ this.doctor?.email }}</p>
          </div>
          <h4 class="change-pass" data-toggle="modal" data-target="#passwordChangeModal" data-whatever="@mdo">პაროლის შეცვლა</h4>
        </div>

        <div class="middle-first">
          <h4>დაჯავშნილია :</h4>
          <p>( {{this.appointmentCount}} )</p>
        </div>
      </div>
    </div>
    <!-- ცხრილი -->
    <div class="calendar">
      
      <div class="time">
        <div class="square"  *ngIf="this.tooltipBox">
          <div class="middle">
              <img class="picture" src="../../assets/default-image.png" alt="">
              <div class="middle-column">
                <p class="card-name"><strong>სახელი:</strong> {{ this.clientName }}  {{ this.clientLastName}}</p>
                <p class="card-category"><strong>პირადი:</strong> {{ this.clientIdNumber }} </p>
                <p class="card-name"><strong>მიზეზი:</strong> {{ this.text }} </p>
  
              </div>
          </div>
      </div>
        <span class="year">2023</span>
        <div class="buttons-click">
          <span class="arrow arrow-left"
            ><img
              src="../../assets/material-symbols_arrow-back-ios-rounded.png"
              alt=""
          /></span>
          <button class="action-button">აპრილი</button>
          <span class="arrow arrow-right"
            ><img
              src="../../assets/material-symbols_arrow-back-ios-rounded (1).png"
              alt=""
          /></span>
        </div>
      </div>
      <!-- calendar -->
      <div class="custom-table">
        <table>
          <thead class="header">
            <tr>
              <th class="days-botton">
                <span class="img-2"
                  ><img
                    src="../../assets/right-arrow_271228.png"
                    style="width: 12px; height: 12px"
                    alt=""
                /></span>
                <span
                  ><img
                    src="../../assets/right-arrow_271228.png"
                    style="width: 12px; height: 12px"
                    alt=""
                /></span>
              </th>
              <th *ngFor="let num of tableHeaders; let i = index">
                <div class="days">
                  <p class="day-number">{{ num.num }}</p>
                  <p>({{ num.day }})</p>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of tableData; let i = index">
              <tr>
                <td class="rowhead">{{ getTimeRange(i) }}</td>
                <!-- Display time range in the first column -->
                <ng-container *ngFor="let col of row.cols; let j = index">
                  <td class="tdclick" id="{{'td_' + i + '_' + j}}">
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="change-sect">
        <div class="redacted-button">
          <button class="redact">
            <span
              ><img src="../../assets/edit-svgrepo-com 2.png" alt=""
            /></span>
            <p>რედაქტირება</p>
          </button>
          <p class="comment-redact">*აღწერის ცვლილება</p>
        </div>
        <button class="delete">
          <span
            ><img src="../../assets/delete-file-svgrepo-com 3.png" alt=""
          /></span>
          <p>წაშლა</p>
        </button>
      </div>
    </div>
  </div>
</div>

  <!-- modal -->
  <div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">პაროლის შეცვლა</h5>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="password" class="form-control" name="old-password" id="old-password" placeholder="ძველი პაროლი" [(ngModel)]="oldPassword" required> 
            </div>
            <div class="form-group">
              <input type="password"  name="newPassword" class="form-control form-password" id="recipient-name" placeholder="ახალი პაროლი" [(ngModel)]="newPassword" required> 
            </div>
          
            <div class="modal-footer">
              <button type="submit" *ngIf="submissionSuccess" data-dismiss="modal">დახურვა</button>
              <button type="submit" *ngIf="!submissionSuccess">შენახვა</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>