<div class="home-hero">
    <div class="categories">
      <!-- <h1 id="patientname">{{this.authservice.loginusername}}</h1> -->
      <!-- კატეგორიები -->
      <div class="category">
          <div class="category-all">
              <div class="category-name">
                  <p>კატეგორია</p>
                  <img src="../../assets/Vector1.png" alt="">
              </div>
              <div class="category-list">
                  <ul class="category-components">
                      <li>
                          <div class="num">( 14 )</div>
                          <div class="text">ანდროლოგი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 61 )</div>
                          <div class="text">ანესთეზიოლოგი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 467 )</div>
                          <div class="text">კარდიოლოგი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 43 )</div>
                          <div class="text">კოსმეტოლოგი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 107 )</div>
                          <div class="text">ლაბორანტი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 238 )</div>
                          <div class="text">ოჯხის ექიმი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 366 )</div>
                          <div class="text">პედიატრი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 8 )</div>
                          <div class="text">ტოქსიკოლოგი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 15 )</div>
                          <div class="text">ტრანსფუზილოგი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 171 )</div>
                          <div class="text">გინეკოლოგი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 68 )</div>
                          <div class="text">დერმატოლოგი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 32 )</div>
                          <div class="text">ენდოკრინოლოგი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 56 )</div>
                          <div class="text">გასტროენტოროლოგი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                        <li>
                          <div class="num">( 114 )</div>
                          <div class="text">თერაპევტი</div>
                          <img class="li-img" src="../../assets/arrow-right.png" alt="">
                      </li>
                    </ul>
              </div>
              <div class="category-bottom">
                  <img src="../../assets/Vector1.png" alt="">
                  <span class="category-last">
                      <p>სრულად ნახვა</p>
                      <img src="../../assets/arrow-down.png" alt="">
                  </span>
              </div>
          </div>
      </div>

      <div class="doctor-hero">
          <!-- ექიმები -->
          <div class="doctors">
              <div class="hero-doctor">
                  <div class="upper">
                      <img class="main-image" [src]="this.doctor?.imageUrl">
                    <div class="upper-child">
                        <h4>{{this.doctor?.firstName}} {{ this.doctor?.lastName }}</h4>
                        <p>{{this.doctor?.category}}</p>
                        <div class="doctors-stars">
                            <img src="../../assets/material-symbols_star-rounded.png" alt="">
                            <img src="../../assets/material-symbols_star-rounded.png" alt="">
                            <img src="../../assets/material-symbols_star-rounded.png" alt="">
                            <img src="../../assets/material-symbols_star-rounded.png" alt="">
                            <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        </div>
                    </div>
                  </div>
                  <img src="../../assets/Vector 7.png" alt="">
                  <div class="cv-style">
                    <p><span class="blue-text">2017 - დღემდე</span>, ჩვენი კლინიკის გენერალური დირექტორი</p>
                    <p><span class="blue-text">2002 - დღემდე</span>, ჩვენი კომპიუტერული ტომოგრაფიის განყოფილების ხელმძღვანელი</p>
                    <p><span class="blue-text">1995 - დღემდე</span>, კარდიოლოგი / არითმოლოგი</p>

                  </div>
              </div> 
          </div>
          <!-- ცხრილი -->
        <div class="calendar">
              <div class="time">
                <span class="year">2023</span>
                <div class="buttons-click">
                    <span class="arrow arrow-left "><img src="../../assets/material-symbols_arrow-back-ios-rounded.png" alt=""></span>
                    <button class="action-button">აპრილი</button>
                    <span class="arrow arrow-right"><img src="../../assets/material-symbols_arrow-back-ios-rounded (1).png" alt=""></span>
                </div>
            </div>
              <div class="time-and-table">
                <div class="custom-table">
                  <table>
                    <thead class="header">
                      <tr>
                        <th class="days-botton">
                          <span class="img-2"
                            ><img
                              src="../../assets/right-arrow_271228.png"
                              style="width: 12px; height: 12px"
                              alt=""
                          /></span>
                          <span
                            ><img
                              src="../../assets/right-arrow_271228.png"
                              style="width: 12px; height: 12px"
                              alt=""
                          /></span>
                        </th>
                        <th *ngFor="let num of tableHeaders; let i = index">
                          <div class="days">
                            <p class="day-number">{{ num.num }}</p>
                            <p>({{ num.day }})</p>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let row of tableData; let i = index">
                        <tr>
                          <td class="rowhead">{{ getTimeRange(i) }}</td>
                          <!-- Display time range in the first column -->
                          <ng-container *ngFor="let col of row.cols; let j = index">
                            <td class="tdclick" [id]="'td_' + i + '_' + j">
                              <!-- <span *ngIf="!col.activated && j < 5">დაჯავშნა</span> -->
                            </td>

                          </ng-container>
                        </tr>
                      </ng-container>                      
                    </tbody>
                    <div *ngIf="unauthorizedMessageShown" class="unauthorized-message">
                      <p>დასაჯავშნათ გთხოვთ გაიაროთ </p>
                      <span>ავტორიზაცია ან რეგისტრაცია</span>
                    </div>

                    <div *ngIf="messageToDoctor" class="booking-message">
                      <div class="booking-message-box">
                        <p>გსურთ ვიზიტის დაჯავნშნა ?</p>
                        <p class="last-child">შეგიძლიათ მიუთუთოთ თქვენი პორბლემა</p>
                        <textarea placeholder="აღწერა..." rows="5"></textarea>
                        <button class="adding">დაჯავშნა</button>
                      </div>
                    </div>
                  </table>
                </div>
            
              <div class="change-sect">
                  <button class="redact">
                      <span><img src="../../assets/edit-svgrepo-com 2.png" alt=""></span>
                      <p>რედაქტირება</p>
                  </button>
                <button class="delete">
                    <span><img src="../../assets/delete-file-svgrepo-com 3.png" alt=""></span>
                    <p>წაშლა</p>
                </button>
            </div>
       </div>
          
      </div>
      </div>
</div>